#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keymap.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // overlayファイルで定義したRC(0,0)からRC(0,25)に対応
                &kp ESC  &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp LBKT &kp RBKT
                &kp LCTL &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp SEMI &kp SQT  &kp RET
            >;
        };
    };
};
