/* * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        cols = <26>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11) RC(0,12)
            RC(0,13) RC(0,14) RC(0,15) RC(0,16) RC(0,17) RC(0,18) RC(0,19) RC(0,20) RC(0,21) RC(0,22) RC(0,23) RC(0,24) RC(0,25)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        diode-direction = "col2row";
        
        input-gpios = <
            // 26個のキーに対応するピンを記述
            &gpio0 P0_8 GPIO_ACTIVE_HIGH
            &gpio0 P0_11 GPIO_ACTIVE_HIGH
            &gpio0 P0_18 GPIO_ACTIVE_HIGH
            &gpio0 P0_16 GPIO_ACTIVE_HIGH
            &gpio0 P0_19 GPIO_ACTIVE_HIGH
            &gpio0 P0_20 GPIO_ACTIVE_HIGH
            &gpio0 P0_22 GPIO_ACTIVE_HIGH
            &gpio0 P0_23 GPIO_ACTIVE_HIGH
            &gpio1 P1_0 GPIO_ACTIVE_HIGH
            &gpio1 P1_3 GPIO_ACTIVE_HIGH
            &gpio0 P0_9 GPIO_ACTIVE_HIGH
            &gpio0 P0_10 GPIO_ACTIVE_HIGH
            &gpio1 P1_15 GPIO_ACTIVE_HIGH
            &gpio1 P1_14 GPIO_ACTIVE_HIGH
            &gpio0 P0_3 GPIO_ACTIVE_HIGH
            &gpio0 P0_30 GPIO_ACTIVE_HIGH
            &gpio0 P0_0 GPIO_ACTIVE_HIGH
            &gpio0 P0_5 GPIO_ACTIVE_HIGH
            &gpio0 P0_17 GPIO_ACTIVE_HIGH
            &gpio0 P0_21 GPIO_ACTIVE_HIGH
            &gpio0 P0_24 GPIO_ACTIVE_HIGH
            &gpio1 P1_2 GPIO_ACTIVE_HIGH
            &gpio1 P1_10 GPIO_ACTIVE_HIGH
            &gpio1 P1_11 GPIO_ACTIVE_HIGH
            &gpio0 P0_29 GPIO_ACTIVE_HIGH
            &gpio0 P0_31 GPIO_ACTIVE_HIGH
        >;
    };
};
